<a href="https://colab.research.google.com/github/guidobavosacastelao/Curso_Python_2022/blob/main/Cuaderno_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Videos:

https://www.youtube.com/watch?v=85xsOwpEps4&ab_channel=cctmexico -> Ciclo For

https://www.youtube.com/watch?v=TCmU2-3oPAA&ab_channel=cctmexico -> Ciclo While

https://www.youtube.com/watch?v=iniDheGLFTA&ab_channel=cctmexico -> Funciones

# Estructura For

```python
for item in object:
    determinar acciones a realizar
```

In [ ]:
lista1 = [1,2,3,4,5,6,7,8,9,10]
print(lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista2 = list(range(1,11))
print(lista2)
print(len(lista2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [ ]:
for i in lista1:  # Recorremos la lista para obtener los elementos contenida en ella
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in lista1:     # A cada elemento de la lista lo multiplicamos por 2
  print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Si quisieramos guardar el resultado en una nueva lista

lista_new = []       # Creamos una lista vacía que se completará con el resultado anterior

for i in lista1:
  lista_new.append(i*2)
print(lista_new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Podemos incorporar un condicional (IF) para definir una acción a realizar

for i in lista1:    # Obtenemos los elementos que cumplen con una condición
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
10%3

1

In [ ]:
# Podemos escribir lo anterior de una manera más completa

for i in lista1:
    if i % 2 == 0:
        print(i)
    else:
        pass        # Operador que indica seguir sin hacer ninguna modificación

2
4
6
8
10

In [ ]:
# Podemos obtener un único resultado: La suma de todos los elementos de la lista

list_sum = 0                # Iniciamos una lista en cero

for i in lista1:
    list_sum = list_sum + i # Llenamos la lista sumando el elemento i de la lista1 en cada iteración

print(list_sum)             # Si indentamos dos veces nos imprimirá cada iteración.

55

In [ ]:
lista = ["a", "b", "c"]    # Podemos recorrer la lista de la siguiente manera
for indice in range(len(lista)):
    print(f"El indice {indice} tienen un valor {lista[indice]}")

El indice 0 tienen un valor a
El indice 1 tienen un valor b
El indice 2 tienen un valor c

Ejemplo Financiero:

In [ ]:
tasa=0.1
cash_flow=[-200,50,50,50,50,50]

In [ ]:
VAN_i=0

for i in range(len(cash_flow)):
    VAN_i+=cash_flow[i]/((1+tasa)**i)
print("El Valor Actual Neto es",VAN_i)

El Valor Actual Neto es -10.460661529577635

Bucle anidado: independiente

In [ ]:
for i in [0, 1, 2]:
    for j in [0, 1]:
        print(f"i vale {i} y j vale {j}")

i vale 0 y j vale 0
i vale 0 y j vale 1
i vale 1 y j vale 0
i vale 1 y j vale 1
i vale 2 y j vale 0
i vale 2 y j vale 1

Bucle anidado: dependiente

In [ ]:
for i in [1, 2, 3]:
    for j in range(i):
        print(f"i vale {i} y j vale {j}")

i vale 1 y j vale 0
i vale 2 y j vale 0
i vale 2 y j vale 1
i vale 3 y j vale 0
i vale 3 y j vale 1
i vale 3 y j vale 2

# Estructura While

Siempre debe haber un contador, WHILE es una estructura de control que itera o repite la ejecucion de una serie de instruccioes tantas veces como sea necesario hasta que deje de cumplirse la condicion

```python
while condicion:
    ejecutar código
else:
    finalizar código
```

In [ ]:
numero = 0
while numero < 10:                   # mientras se cumpla esta condición realizará la operación indicada a continuación
       print('El número es',numero)  # Primero imprime
       numero = numero + 1           # Sumamos el valor 1 en cada iteración. De esta manera, en alguna iteración dejará de cumplirse la condición

El número es 0
El número es 1
El número es 2
El número es 3
El número es 4
El número es 5
El número es 6
El número es 7
El número es 8
El número es 9

In [ ]:
numero = 0
while numero < 10:
      numero = numero + 1           # Sumo de a uno
      print('El número es',numero)  # Luego imprime

El número es 1
El número es 2
El número es 3
El número es 4
El número es 5
El número es 6
El número es 7
El número es 8
El número es 9
El número es 10

Y de 2 en 2? Y que sea decreciente?

In [ ]:
numero = 0
while numero < 10:                 # Termino teniendo un bucle infinito
       print('El número es',numero)

In [ ]:
numero = 0                   # Podría saltearme el número 4
while numero < 10:
       if numero != 4:
          print('El número es',numero)
       numero = numero + 1

El número es 0
El número es 1
El número es 2
El número es 3
El número es 5
El número es 6
El número es 7
El número es 8
El número es 9

In [ ]:
numero = 0
while numero < 10:
       if numero != 4:
          print('El número es',numero)
       else:     
          print('Este número es la mitad de ocho:',numero)
       numero = numero + 1

El número es 0
El número es 1
El número es 2
El número es 3
Este número es la mitad de ocho: 4
El número es 5
El número es 6
El número es 7
El número es 8
El número es 9

In [ ]:
numero= 0

while numero < 10:
    print(numero)
    numero+=1
    if numero==4:
        print('Ahora se cumple la condición:')  # cuando se cumple la condición que nos avise
    else:
        continue # y luego que continúe

0
1
2
3
Ahora se cumple la condición:
4
5
6
7
8
9

In [ ]:
numero = 0
while numero < 10:
    numero += 1
    if numero == 4:
        break
    print(numero)
print('Terminó el While')

1
2
3
Terminó el While

In [ ]:
Respuesta= int(input('Cuántas lunas tiene Marte?'))

while Respuesta != 2:
    Respuesta=int(input("Te equivocaste, volvé a intentarlo"))

print('Acertaste!')

# Funciones

In [ ]:
def suma_num(num1,num2):  # Función Suma
    return num1+num2
    
suma_num(1,2) #aplicamos la función creada

3

In [ ]:
def cuadrado(numero):    # Función Cuadrado de un Número
  return numero ** 2

cuadrado(4)

16

In [ ]:
def area_rectangulo(largo=2, ancho=3):   # Función área de un rectángulo
     return largo * ancho

area_rectangulo(5,4)

20

In [ ]:
def promedio(n1,n2,n3):                  # Función promedio de tres notas 
    media_aritmetica = (n1+n2+n3)/3

    return media_aritmetica

promedio(1,1,1)

1.0

In [ ]:
def factorial(n):                        # Función factorial (por recursividad)
    if n == 0:
       return 1
    else:
       return n * factorial(n - 1)

print(factorial(5))

120

In [ ]:
def calcular_IMC(peso,altura):

  # Colocamos la altura en centimetros
  # Colocamos el peso en kg

  BMI = peso / (altura/100)**2
 
  if BMI <= 18.4:
       print("Estás bajo de peso")
  elif BMI <= 24.9:
       print("Estás saludable")
  elif BMI <= 29.9:
       print("Estás excedido de peso")
  elif BMI <= 34.9:
       print("Estás severamente excedido de peso")
  elif BMI <= 39.9:
       print("Estás obeso")
  else:
       print("Estás severamente obeso")

  return BMI

In [ ]:
calcular_IMC(90,175)

Estás excedido de peso

29.387755102040817

# Desafíos:

- Definir una función max() que tome como argumento dos numeros y devuelva el mayor de ellos

- Definir una función max_de_tres(), que tome tres números como argumentos y devuelva el mayor de ellos

- Escribir una función que tome un carácter y devuelva True si es una vocal, de lo contrario devuelve False

- Escribir una función sum() y una función multip() que sumen y multipliquen respectivamente todos los números de una lista. Por ejemplo: sum([1,2,3,4]) debería devolver 10 y multip([1,2,3,4]) debería devolver 24.

- Escribir los 6 primeros términos de la secuencia de Fibonacci (arranca en 0). Tu output debería ser: 0 1 1 2 3 5

- Implementar un programa que muestre la siguiente secuencia:

     1, 2, 3, 4, 5, 4, 3, 2, 1, 0

    *Utilizar 1 solo while, 1 solo if y 1 solo else*